<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.AdminDAO">
	<resultMap id="MemberResultMapForAdmin" type="com.example.domain.Member">
        <id property="memberId" 				column="member_id"/>
        <result property="memberEmail" 			column="member_email"/>
        <result property="memberPwd" 			column="member_pwd"/>
        <result property="memberName" 			column="member_name"/>
        <result property="memberBirth" 			column="member_birth"/>
        <result property="memberSex" 			column="member_sex"/>
        <result property="memberTel" 			column="member_tel"/>
        <result property="memberAddrMain" 		column="member_addr_main"/>
        <result property="memberAddrDetail" 	column="member_addr_detail"/>
        <result property="memberAddrSubdetail"  column="member_addr_subdetail"/>
        <result property="memberJoinDate" 		column="member_join_date"/>
        <result property="memberLeaveDate" 		column="member_leave_date"/>
        <result property="memberCreditNum" 		column="member_credit_num"/>
        <result property="memberPoint" 			column="member_point"/>
        <result property="memberAuth" 			column="member_auth"/>
        <result property="fileKey" 				column="file_key"/>
    </resultMap>
    
    <resultMap id="DoctorInquiryResultMap" type="com.example.domain.Inquiry">
    	<id property="inquiryId" 				column="inquiry_id"/>
    	<result property="inquiryType" 			column="inquiry_type"/>
    	<result property="inquiryTitle" 		column="inquiry_title"/>
    	<result property="inquiryWriterEmail" 	column="inquiry_writer_email"/>
    	<result property="inquiryComments" 		column="inquiry_comments"/>
    	<result property="inquiryRegdate" 		column="inquiry_regdate"/>
    	<result property="inquiryAnswer" 		column="inquiry_answer"/>
    	<result property="inquiryAnswerRegdate" column="inquiry_answer_regdate"/>
    	<result property="status" 				column="status"/>
    </resultMap>
    
    <select id="getMemberList" resultMap="MemberResultMapForAdmin">
		SELECT *
		FROM members
	</select>
	
	<select id="getDoctorRequestCnt" resultType="int">
		SELECT COUNT(*) AS count
		FROM doctor
		WHERE doctor_confirm_yn = 'N'
	</select>
	
	<select id="getDoctorInquiryList" resultMap="DoctorInquiryResultMap">
		SELECT i.inquiry_id 									AS inquiry_id
			 , i.inquiry_type 									AS inquiry_type
			 , i.inquiry_title 									AS inquiry_title
			 , i.inquiry_writer_email 							AS inquiry_writer_email
			 , i.inquiry_comments 								AS inquiry_comments
			 , TO_CHAR(i.inquiry_regdate, 'YYYY-mm-DD') 		AS inquiry_regdate
			 , i.inquiry_answer 								AS inquiry_answer
			 , TO_CHAR(i.inquiry_answer_regdate, 'YYYY-mm-DD') 	AS inquiry_answer_regdate 
			 , i.file_key  										AS file_key
			 , i.status											AS status
		  FROM inquiry i
	INNER JOIN doctor d 
			ON i.inquiry_writer_email = d.doctor_email
	  ORDER BY CASE WHEN i.status = 'N' 
					THEN 1 
					ELSE 2 
				END
  			  , i.inquiry_regdate desc
	</select>
	
</mapper>