<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.AdminDAO">
	<resultMap id="MemberResultMapForAdmin" type="com.example.domain.Member">
        <id property="memberId" 				column="member_id"/>
        <result property="memberEmail" 			column="member_email"/>
        <result property="memberPwd" 			column="member_pwd"/>
        <result property="memberName" 			column="member_name"/>
        <result property="memberBirth" 			column="member_birth"/>
        <result property="memberSex" 			column="member_sex"/>
        <result property="memberTel" 			column="member_tel"/>
        <result property="memberAddrMain" 		column="member_addr_main"/>
        <result property="memberAddrDetail" 	column="member_addr_detail"/>
        <result property="memberAddrSubdetail"  column="member_addr_subdetail"/>
        <result property="memberJoinDate" 		column="member_join_date"/>
        <result property="memberLeaveDate" 		column="member_leave_date"/>
        <result property="memberCreditNum" 		column="member_credit_num"/>
        <result property="memberPoint" 			column="member_point"/>
        <result property="memberAuth" 			column="member_auth"/>
        <result property="fileKey" 				column="file_key"/>
    </resultMap>
    
    <resultMap id="InquiryResultMapForAdmin" type="com.example.domain.Inquiry">
        <id property="inquiryId" 				column="inquiry_id"/>
        <result property="inquiryType" 			column="inquiry_type"/>
        <result property="inquiryTitle" 		column="inquiry_title"/>
        <result property="inquiryWriterEmail" 	column="inquiry_writer_email"/>
        <result property="inquiryComments" 		column="inquiry_comments"/>
        <result property="inquiryRegdate" 		column="inquiry_regdate"/>
        <result property="inquiryAnswer" 		column="inquiry_answer"/>
        <result property="inquiryAnswerRegdate" column="inquiryAnswerRegdate"/>
        <result property="status" 				column="status"/>
    </resultMap>
    
    <resultMap id="DoctorInquiryResultMap" type="com.example.domain.Inquiry">
    	<id property="inquiryId" 				column="inquiry_id"/>
    	<result property="inquiryType" 			column="inquiry_type"/>
    	<result property="inquiryTitle" 		column="inquiry_title"/>
    	<result property="inquiryWriterEmail" 	column="inquiry_writer_email"/>
    	<result property="inquiryComments" 		column="inquiry_comments"/>
    	<result property="inquiryRegdate" 		column="inquiry_regdate"/>
    	<result property="inquiryAnswer" 		column="inquiry_answer"/>
    	<result property="inquiryAnswerRegdate" column="inquiry_answer_regdate"/>
    	<result property="status" 				column="status"/>
    	<result property="doctorId" 			column="doctor_id"/>
        <result property="doctorEmail" 			column="doctor_email"/>
        <result property="doctorPwd" 			column="doctor_pwd"/>
        <result property="doctorName" 			column="doctor_name"/>
        <result property="doctorBirth" 			column="doctor_birth"/>
        <result property="doctorSex" 			column="doctor_sex"/>
        <result property="doctorTel" 			column="doctor_tel"/>
        <result property="doctorAddrMain" 		column="doctor_addr_main"/>
        <result property="doctorAddrDetail" 	column="doctor_addr_detail"/>
        <result property="doctorSubject" 		column="doctor_subject"/>
        <result property="doctorMajor" 			column="doctor_major"/>
        <result property="doctorComments" 		column="doctor_comments"/>
        <result property="doctorJoinDate" 		column="doctor_join_date"/>
        <result property="doctorLeaveDate" 		column="doctor_leave_date"/>
        <result property="doctorConfirmYn" 		column="doctor_confirm_yn"/>
        <result property="doctorRequestCnt" 	column="doctorRequestCnt"/>
    </resultMap>
    
    <select id="getMemberList" resultMap="MemberResultMapForAdmin">
		SELECT *
		FROM members
	</select>
	
	<select id="getInquiryList" parameterType="String" resultMap="InquiryResultMapForAdmin">
		SELECT *
		  FROM inquiry
		<if test="userEmail != null and userEmail != ''">
		 WHERE inquiry_writer_email = #{userEmail}
		</if>
	</select>
	
	<select id="getDoctorRequestCnt" resultType="int">
		SELECT COUNT(*) AS count
		FROM doctor
		WHERE doctor_confirm_yn = 'N'
	</select>
	
	<select id="getDoctorInquiryList" resultMap="DoctorInquiryResultMap">
		SELECT * FROM inquiry i
		INNER JOIN doctor d 
		ON i.inquiry_writer_email = d.doctor_email
	</select>
	
</mapper>