<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.DoctorDAO">
	<resultMap id="DoctorResultMap" type="com.example.domain.Doctor">
        <id property="doctorId" 			column="doctor_id"/>
        <result property="doctorEmail" 		column="doctor_email"/>
        <result property="hospitalId" 		column="hospital_id"/>
        <result property="hospitalName" 	column="hospital_name"/>
        <result property="hospitalTel" 		column="hospital_tel"/>
        <result property="doctorPwd" 		column="doctor_pwd"/>
        <result property="doctorName" 		column="doctor_name"/>
        <result property="doctorBirth" 		column="doctor_birth"/>
        <result property="doctorSex" 		column="doctor_sex"/>
        <result property="doctorTel" 		column="doctor_tel"/>
        <result property="doctorAddrMain" 	column="doctor_addr_main"/>
        <result property="doctorAddrDetail" column="doctor_addr_detail"/>
        <result property="doctorSubject" 	column="doctor_subject"/>
        <result property="doctorMajor" 		column="doctor_major"/>
        <result property="doctorComments" 	column="doctor_comments"/>
        <result property="fileKey" 			column="file_key"/>
        <result property="doctorJoinDate" 	column="doctor_join_date"/>
        <result property="doctorLeaveDate" 	column="doctor_leave_date"/>
        <result property="doctorConfirmYn" 	column="doctor_confirm_yn"/>
        <result property="doctorRequestCnt" column="doctorRequestCnt"/>
        <result property="reviewId"			column="review_id"/>
        <result property="memberId"			column="member_id"/>
        <result property="rating"			column="rating"/>
        <result property="comments"			column="comments"/>
        <result property="ratingCnt"			column="rating_cnt"/>
        <result property="ratingAvg"			column="rating_avg"/>
        <result property="reviewCnt"			column="review_cnt"/>
        <result property="reviewTitle" 			column="review_title"/>
        <result property="reviewTitleA" 		column="review_titleA"/>
        <result property="reviewTitleB" 		column="review_titleB"/>
        <result property="reviewTitleC" 		column="review_titleC"/>
        <result property="count" 				column="count"/>
        <result property="filePath"			column="file_path"></result>
    </resultMap>
    
   	<resultMap id="DoctorAvailResultMap" type="com.example.domain.DoctorAvail">
       <id property="doctorAvailId" 		column="doctor_avail_id"/>
       <result property="doctorId" 			column="doctor_id"/>
       <result property="doctorEmail" 		column="doctor_email"/>
       <result property="day" 				column="day"/>
       <result property="starttime" 		column="starttime"/>
       <result property="endtime" 			column="endtime"/>
       <result property="restStarttime" 	column="rest_starttime"/>
       <result property="restEndtime" 		column="rest_endtime"/>
    </resultMap>
    
    <resultMap id="MemberHistoryResultMap" type="com.example.domain.MemberHistory">
        <id property="memberId" 					column="member_id"/>
        <result property="memberName" 				column="member_name"/>
        <result property="memberTel" 				column="member_tel"/>
        <result property="memberBirth" 				column="member_birth"/>
        <result property="certificateNum" 			column="certificate_num"/>
        <result property="certificateDate" 			column="certificate_date"/>
        <result property="reservationNum" 			column="reservation_num"/>
        <result property="description" 				column="description"/>
        <result property="certificateFile" 			column="certificate_file"/>
        <result property="doctorId" 				column="doctor_id"/>
        <result property="reservationDate" 			column="reservation_date"/>
        <result property="reservationStatus" 		column="reservation_status"/>
        <result property="doctorEmail" 				column="doctor_email"/>
        <result property="doctorName" 				column="doctor_name"/>
        <result property="doctorBirth" 				column="doctor_birth"/>
        <result property="doctorSex" 				column="doctor_sex"/>
        <result property="doctorTel" 				column="doctor_tel"/>
        <result property="doctorSubject" 			column="doctor_subject"/>
        <result property="doctorMajor" 				column="doctor_major"/>
        <result property="doctorComments" 			column="doctor_comments"/>
        <result property="doctorFile" 				column="doctor_file"/>
        <result property="hospitalName" 			column="hospital_name"/>
        <result property="hospitalAddrMain" 		column="hospital_addr_main"/>
        <result property="hospitalAddrDetail" 		column="hospital_addr_detail"/>
        <result property="hospitalFile" 			column="hospital_file"/>
        <result property="hospitalLati" 			column="hospital_lati"/>
        <result property="hospitalLong" 			column="hospital_long"/>
        <result property="partnershipStatus" 		column="partnership_status"/>
        <result property="paymentId" 				column="payment_id"/>
        <result property="paymentDate" 				column="payment_date"/>
        <result property="transactionType" 			column="transaction_type"/>
        <result property="paymentStatus" 			column="payment_status"/>
        <result property="paymentAmount" 			column="payment_amount"/>
    </resultMap>
    
    
    
    
    
    <insert id="registerDoctor" parameterType="com.example.dto.DoctorDTO">
		INSERT INTO doctor(
			  doctor_email
			, doctor_pwd
			, doctor_name
			, doctor_birth
			, doctor_sex
			, doctor_addr_main
			, doctor_addr_detail
			, file_key			
		)
		VALUES(
			  #{doctorEmail}
			, #{doctorPwd}
			, #{doctorName}
			, #{doctorBirth}
			, #{doctorSex}
			, #{doctorAddrMain}
			, #{doctorAddrDetail}
			, #{fileKey}
		)
	</insert>
	
	<select id="findDoctorByEmail" parameterType="String" resultMap="DoctorResultMap">
		SELECT *
		  FROM doctor
		 WHERE doctor_email = #{doctorEmail}
	</select>
	
	<select id="getDoctorCurrentHistory" parameterType="int" resultMap="MemberHistoryResultMap">
		SELECT *
		FROM members m 
		INNER JOIN (
		    SELECT 
		        c.certificate_num AS certificate_num
		        , c.certificate_date AS certificate_date
		        , c.reservation_num AS reservation_num
		        , c.description AS description
		        , c.file_key AS certificate_file
		        , r.member_id AS member_id
		        , r.doctor_id AS doctor_id
		        , r.reservation_date AS reservation_date
		        , r.reservation_status AS reservation_status
		        , d.doctor_email AS doctor_email
		        , d.hospital_id AS hospital_id
		        , d.doctor_name AS doctor_name
		        , d.doctor_birth AS doctor_birth
		        , d.doctor_sex AS doctor_sex
		        , d.doctor_tel AS doctor_tel
		        , d.doctor_subject AS doctor_subject
		        , d.doctor_major AS doctor_major	
		        , d.doctor_comments AS doctor_comments
		        , d.file_key AS doctor_file
		        , h.hospital_name AS hospital_name
		        , h.hospital_addr_main AS hospital_addr_main
		        , h.hospital_addr_detail AS hospital_addr_detail	
		        , h.file_key AS hospital_file 
		        , h.hospital_lati AS hospital_lati
		        , h.hospital_long AS hospital_long
		        , h.partnership_status AS partnership_status
		        , p.payment_id AS payment_id
		        , p.payment_date AS payment_date
		        , p.transaction_type AS transaction_type
		        , p.payment_status AS payment_status
		        , m.member_name AS member_name
		        , m.member_tel AS member_tel
		        , m.member_birth AS member_birth
		    FROM certificate c
		    INNER JOIN reservation r 
		        ON c.reservation_num = r.reservation_num 
		    INNER JOIN doctor d 
		        ON r.doctor_id = d.doctor_id  
		    INNER JOIN hospital h 
		        ON d.hospital_id = h.hospital_id
		    INNER JOIN payments p 
		        ON c.certificate_num = p.certificate_num
		    INNER JOIN members m
		    	ON m.member_id = r.member_id
		) AS j
		ON m.member_id = j.member_id 
		WHERE j.doctor_id = ${doctorId};
	</select>
	
	<select id="getDetailedHistory" parameterType="int" resultMap="MemberHistoryResultMap">
		SELECT *
		FROM members m 
		INNER JOIN (
		    SELECT 
		        c.certificate_num AS certificate_num
		        , c.certificate_date AS certificate_date
		        , c.reservation_num AS reservation_num
		        , c.description AS description
		        , c.file_key AS certificate_file
		        , r.member_id AS member_id
		        , r.doctor_id AS doctor_id
		        , r.reservation_date AS reservation_date
		        , r.reservation_status AS reservation_status
		        , d.doctor_email AS doctor_email
		        , d.hospital_id AS hospital_id
		        , d.doctor_name AS doctor_name
		        , d.doctor_birth AS doctor_birth
		        , d.doctor_sex AS doctor_sex
		        , d.doctor_tel AS doctor_tel
		        , d.doctor_subject AS doctor_subject
		        , d.doctor_major AS doctor_major	
		        , d.doctor_comments AS doctor_comments
		        , d.file_key AS doctor_file
		        , h.hospital_name AS hospital_name
		        , h.hospital_addr_main AS hospital_addr_main
		        , h.hospital_addr_detail AS hospital_addr_detail	
		        , h.file_key AS hospital_file 
		        , h.hospital_lati AS hospital_lati
		        , h.hospital_long AS hospital_long
		        , h.partnership_status AS partnership_status
		        , p.payment_id AS payment_id
		        , p.payment_date AS payment_date
		        , p.transaction_type AS transaction_type
		        , p.payment_status AS payment_status
		        , m.member_name AS member_name
		        , m.member_tel AS member_tel
		        , m.member_birth AS member_birth
		    FROM certificate c
		    INNER JOIN reservation r 
		        ON c.reservation_num = r.reservation_num 
		    INNER JOIN doctor d 
		        ON r.doctor_id = d.doctor_id  
		    INNER JOIN hospital h 
		        ON d.hospital_id = h.hospital_id
		    INNER JOIN payments p 
		        ON c.certificate_num = p.certificate_num
		    INNER JOIN members m
		    	ON m.member_id = r.member_id
		) AS j
		ON m.member_id = j.member_id  
		WHERE j.certificate_num = ${certificateNum};
	</select>
	
	<select id="getDoctorsList" resultMap="DoctorResultMap">
		SELECT d.*, h.hospital_name 
		FROM doctor d 
		LEFT OUTER JOIN hospital h 
		ON d.hospital_id = h.hospital_id
		WHERE doctor_confirm_yn = 'Y'
	</select>
	
	<select id="getRegistRequestList" resultMap="DoctorResultMap">
		SELECT d.doctor_email
			 , d.doctor_name
			 , d.doctor_tel
			 , d.doctor_birth
			 , d.doctor_addr_main
			 , d.doctor_addr_detail
			 , d.doctor_sex
		  FROM doctor d 
		 WHERE doctor_confirm_yn = 'N'
	</select>

	<select id="getDoctorClinicList"  resultMap="DoctorResultMap">
	SELECT d.doctor_id  
 	, d.doctor_name 
	, (SELECT hospital_name
		FROM hospital h
	   WHERE d.hospital_id = h.hospital_id) AS hospital_name
	, d.doctor_major
	, d.doctor_subject
	, d.doctor_comments
	, r.rating
	, r.review_title 
	, r.comments 
	, (
	    SELECT IFNULL(AVG(rr.rating), 0) 
	    FROM reviews rr 
	    WHERE d.doctor_id = rr.doctor_id AND rr.status = 'RY'
  	) AS '평균'
	FROM doctor d
	LEFT OUTER JOIN reviews r 
	ON d.doctor_id = r.doctor_id 
	AND r.status = 'RY'
	WHERE d.doctor_subject =  #{doctorSubject}
	GROUP BY doctor_id;
	</select>
	
	<select id="getDoctorReview"  resultMap="DoctorResultMap">
		SELECT
    		  SUM(CASE WHEN review_title = '친절하게 알려주셨어요' THEN 1 ELSE 0 END) AS review_titleA
    		, SUM(CASE WHEN review_title = '꼼꼼하게 진단해주셨어요' THEN 1 ELSE 0 END) AS review_titleB
    		, SUM(CASE WHEN review_title = '정확하게 처방해주셨어요' THEN 1 ELSE 0 END) AS review_titleC
    		, COUNT(*) AS review_cnt
    		, COUNT(rating) AS rating_cnt
    		, ROUND(AVG(rating),1) AS rating_avg
		  FROM reviews
		 WHERE doctor_id = #{doctorId};	
	</select>
	
	<select id="getDoctorInfoList" resultMap="DoctorResultMap">
	  SELECT d.*, h.hospital_name, f.file_path
	  FROM doctor d
	  LEFT OUTER JOIN hospital h ON h.hospital_id = d.hospital_id
	  LEFT OUTER JOIN file f ON f.file_key = d.file_key
	  WHERE doctor_email = #{doctorEmail}
	</select>
	
	<select id="getDoctorAvailList" resultMap="DoctorAvailResultMap">
		SELECT * FROM doctor_avail da
		INNER JOIN doctor d 
		ON d.doctor_id = da.doctor_id
		WHERE d.doctor_email = #{doctorEmail}
	</select>
	
	<insert id="saveAvailInfo" parameterType="int">
		INSERT INTO doctor_avail(doctor_id, day, starttime, endtime) VALUES
			(#{doctorId}, '월요일', '09:00', '18:00'),
			(#{doctorId}, '화요일', '09:00', '18:00'),
			(#{doctorId}, '수요일', '09:00', '18:00'),
			(#{doctorId}, '목요일', '09:00', '18:00'),
			(#{doctorId}, '금요일', '09:00', '18:00'),
			(#{doctorId}, '토요일', '09:00', '18:00'),
			(#{doctorId}, '일요일', '09:00', '18:00'),
			(#{doctorId}, '공휴일', '09:00', '18:00')
	</insert>
	
	<select id="getPatientDetail" parameterType="int" resultMap="MemberHistoryResultMap">
		SELECT m.member_name 							 AS member_name
			 , m.member_tel 							 AS member_tel
			 , m.member_birth 							 AS member_birth
			 , TO_CHAR(c.certificate_date, 'YYYY-mm-DD') AS certificate_date
			 , p.amount 								 AS payment_amount
			 , d.doctor_name 							 AS doctor_name
			 , c.file_key  								 AS certificate_file
			 , c.description 							 AS description
		  FROM certificate c
	INNER JOIN reservation r
			ON c.reservation_num = r.reservation_num 
	INNER JOIN members m
			ON m.member_id = r.member_id 
	INNER JOIN doctor d
			ON d.doctor_id = r.doctor_id 
	 LEFT JOIN payments p 
			ON c.certificate_num = p.certificate_num 
		 WHERE r.member_id 	= #{memberId}
  		   AND c.status 	= 'UY'
	  ORDER BY c.certificate_date DESC 
	</select>
	
	<update id="updateDoctorsInfo" parameterType="com.example.dto.DoctorDTO">
		UPDATE doctor
		SET doctor_name = #{doctorName}, doctor_subject = #{doctorSubject}, doctor_major=#{doctorMajor}, doctor_subject=#{doctorSubject}, hospital_id = (SELECT hospital_id FROM hospital WHERE hospital_name = #{hospitalName}),  file_key = COALESCE(#{fileKey}, file_key)
		WHERE doctor_id = #{doctorId}
	</update>

	<update id="updateDoctorRegister" parameterType="String">
		UPDATE doctor d SET d.doctor_confirm_yn = 'Y'
		WHERE d.doctor_confirm_yn = 'N' 
		AND d.doctor_email = #{doctorEmail}
	</update>
	
	<select id="reservationCntForDoctor" parameterType="int" resultType="int">
		SELECT COUNT(*) AS count FROM reservation r
		WHERE r.reservation_status = 'R' OR r.reservation_status = 'W' AND r.doctor_id = #{doctorId}
	</select>
	
	<select id="reservationWaitCntForDoctor" parameterType="int" resultType="int">
		SELECT COUNT(*) AS count FROM reservation r
		WHERE r.reservation_status = 'W' AND r.doctor_id = #{doctorId}
	</select>
	
	<select id="unpaidPaymentSum" parameterType="int" resultType="int">
		SELECT sum(p.amount) AS sum FROM payments p
		WHERE p.doctor_id = #{doctorId}
		AND p.payment_status = 'N'
	</select>
	
	<select id="totalSales" parameterType="int" resultType="int">
		SELECT sum(p.amount) AS sum FROM payments p
		WHERE p.doctor_id = #{doctorId}
	</select>
	
	<select id="reviewsCnt" parameterType="int" resultType="int">
		SELECT COUNT(*) AS count FROM reviews r
		WHERE doctor_id = #{doctorId}
	</select>
	
	<select id="reviewAvg" parameterType="int" resultType="int">
		SELECT ROUND(AVG(rating)) AS avg FROM reviews r
		WHERE doctor_id = #{doctorId}
	</select>
	
	<select id="getRecentReviewsList" parameterType="int" resultMap="DoctorResultMap">
		SELECT * FROM reviews
		WHERE doctor_id = #{doctorId}
		ORDER BY review_id DESC
		LIMIT 3
	</select>
	
	<select id="getDoctorSubjectCntList" resultMap="DoctorResultMap">
		SELECT COUNT(*) AS count, doctor_subject FROM doctor d
		GROUP BY doctor_subject
	</select>
	
	<select id="getDoctorEmail" resultType="String">
		SELECT doctor_email 
		FROM doctor
		WHERE doctor_id = #{doctorId}
	</select>	
</mapper>