<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.DrugsDAO">

	<resultMap id="drugsResultMap" type="com.example.domain.Drugs">
        <id property="drugId" column="drug_id"/>
        <result property="drugName" column="drug_name"/>
        <result property="drugCompany" column="drug_company"/>
        <result property="drugShape" column="drug_shape"/>
        <result property="drugColor" column="drug_color"/>
        <result property="drugEfficacy" column="drug_efficacy"/>
    </resultMap>


	<select id="getDrugsList" parameterType="com.example.dto.DrugsDTO" resultMap="drugsResultMap">
		SELECT drug_id, drug_name, drug_company, drug_shape, drug_color, drug_efficacy
        FROM drugs
        WHERE (drug_front LIKE CONCAT('%', #{drugFront}, '%') OR drug_back LIKE CONCAT('%', #{drugBack}, '%'))
        AND drug_color = #{drugColor}
        GROUP BY drug_name
	</select>

</mapper>