<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.FilesDAO">
    <insert id="registerFile" parameterType="com.example.domain.Files">
        INSERT INTO
        (
        	  file_key
			, origin_file_name
			, file_name
			, file_path
        )VALUES
        (
        	  #{filekey}
			, #{originfilename}
			, #{fileName}
			, #{filePath}
        )
    </insert>
</mapper>