<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.HospitalDAO">
	<resultMap id="HospitalResultMap" type="com.example.domain.Hospital">
        <id property="hospitalId" 				column="hospital_id"/>
        <result property="hospitalName" 		column="hospital_name"/>
        <result property="hospitalAddrMain" 	column="hospital_addr_main"/>
        <result property="hospitalAddrDetail" 	column="hospital_addr_detail"/>
        <result property="hospitalJoinDate"		column="hospital_join_date"/>
        <result property="hospitalLeaveDate" 	column="hospital_leave_date"/>
        <result property="hospitalTel"		 	column="hospital_tel"/>
        <result property="hospitalLati"		 	column="hospital_lati"/>
        <result property="hospitalLong"		 	column="hospital_long"/>
        <result property="partnershipStatus"	column="partnership_status"/>
        <result property="region"				column="region"/>
        <result property="count"				column="count"/>
        <result property="partnershipYcount"	column="partnershipYcount"/>
        <result property="partnershipNcount"	column="partnershipNcount"/>
    </resultMap>

    <select id="getHospitalList" resultMap="HospitalResultMap">
        SELECT *
        FROM hospital
    </select>

	<select id="getHospitalListByKeyword" resultMap="HospitalResultMap">
		SELECT *
		FROM hospital
		WHERE
			hospital_name LIKE CONCAT('%', #{keyword}, '%') OR
			hospital_addr_main LIKE CONCAT('%', #{keyword}, '%') OR
			hospital_addr_detail LIKE CONCAT('%', #{keyword}, '%')
	</select>
	
	<select id="getCurrentLocationList" parameterType="java.util.Map" resultMap="HospitalResultMap">
		SELECT * FROM hospital h
	    WHERE hospital_addr_main LIKE CONCAT('%', #{addr1}, '%')
	    AND hospital_addr_main LIKE CONCAT('%', #{addr2}, '%')
	</select>
	
	<select id="getHospitalRegionCnt" resultMap="HospitalResultMap">
		SELECT 
		    SUBSTRING_INDEX(hospital_addr_main, ' ', 1) AS region,
		    SUM(CASE WHEN partnership_status = 'Y' THEN 1 ELSE 0 END) AS partnershipYcount,
		    SUM(CASE WHEN partnership_status != 'Y' THEN 1 ELSE 0 END) AS partnershipNcount
		FROM hospital
		GROUP BY region
	</select>

</mapper>