<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.InquiryDAO">
	<resultMap id="InquiryResultMap" type="com.example.domain.Inquiry">
        <id property="inquiryId" 				column="inquiry_id"/>
        <result property="inquiryType" 			column="inquiry_type"/>
        <result property="inquiryTitle" 		column="inquiry_title"/>
        <result property="inquiryWriterEmail" 	column="inquiry_writer_email"/>
        <result property="inquiryComments" 		column="inquiry_comments"/>
        <result property="inquiryRegdate" 		column="inquiry_regdate"/>
        <result property="inquiryAnswer" 		column="inquiry_answer"/>
        <result property="inquiryAnswerRegdate" column="inquiry_answer_regdate"/>
        <result property="status" 				column="status"/>
        <result property="fileKey" 			column="file_key"/>
    </resultMap>
    
    <insert id="registInquiry" parameterType="com.example.domain.Inquiry">
		INSERT INTO inquiry
		(
			  inquiry_type
			, inquiry_title
			, inquiry_writer_email
			, inquiry_comments
			, file_key
		)
		VALUES
		(
			  #{inquiryType}
			, #{inquiryTitle}
			, #{inquiryWriterEmail}
			, #{inquiryComments}
			, #{fileKey}
		)
	</insert>
	
	<update id="updateInquiryAnswer" parameterType="com.example.domain.Inquiry">
		UPDATE inquiry
		   SET inquiry_answer 		  = #{inquiryAnswer}
		     , inquiry_answer_regdate = now()
		     , status 				  = 'Y'
		 WHERE inquiry_id 			  = #{inquiryId}
	</update>
	
</mapper>