<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.MemberDAO">
	<resultMap id="MemberResultMap" type="com.example.domain.Member">
        <id property="memberId" 			column="member_id"/>
        <result property="memberEmail" 		column="member_email"/>
        <result property="memberPwd" 		column="member_pwd"/>
        <result property="memberName" 		column="member_name"/>
        <result property="memberBirth" 		column="member_birth"/>
        <result property="memberSex" 		column="member_sex"/>
        <result property="memberTel" 		column="member_tel"/>
        <result property="memberAddrMain" 	column="member_addr_main"/>
        <result property="memberAddrDetail" column="member_addr_detail"/>
        <result property="memberJoinDate" 	column="member_join_date"/>
        <result property="memberLeaveDate" 	column="member_leave_date"/>
        <result property="memberCreditNum" 	column="member_credit_num"/>
        <result property="memberPoint" 		column="member_point"/>
        <result property="memberAuth" 		column="member_auth"/>
        <result property="fileKey" 			column="file_key"/>
    </resultMap>
    
    <resultMap id="DashBoardResultMap" type="com.example.domain.DashBoard">
    	<result property="memberBirth" 		column="member_birth"/>
    	<result property="memberCnt" 		column="memberCnt"/>
        <result property="ageGroup" 		column="ageGroup"/>
    </resultMap>
    
    
    <resultMap id="MemberHistoryResultMap" type="com.example.domain.MemberHistory">
        <id property="memberId" 					column="member_id"/>
        <result property="certificateNum" 			column="certificate_num"/>
        <result property="certificateDate" 			column="certificate_date"/>
        <result property="status"		 			column="status"/>
        <result property="reservationNum" 			column="reservation_num"/>
        <result property="certificatePaymentStatus" column="certificate_payment_status"/>
        <result property="description" 				column="description"/>
        <result property="certificateFile" 			column="certificate_file"/>
        <result property="doctorId" 				column="doctor_id"/>
        <result property="reservationDate" 			column="reservation_date"/>
        <result property="reservationStatus" 		column="reservation_status"/>
        <result property="doctorEmail" 				column="doctor_email"/>
        <result property="doctorName" 				column="doctor_name"/>
        <result property="doctorBirth" 				column="doctor_birth"/>
        <result property="doctorSex" 				column="doctor_sex"/>
        <result property="doctorTel" 				column="doctor_tel"/>
        <result property="doctorSubject" 			column="doctor_subject"/>
        <result property="doctorMajor" 				column="doctor_major"/>
        <result property="doctorComments" 			column="doctor_comments"/>
        <result property="doctorFile" 				column="doctor_file"/>
        <result property="hospitalName" 			column="hospital_name"/>
        <result property="hospitalAddrMain" 		column="hospital_addr_main"/>
        <result property="hospitalAddrDetail" 		column="hospital_addr_detail"/>
        <result property="hospitalFile" 			column="hospital_file"/>
        <result property="hospitalLati" 			column="hospital_lati"/>
        <result property="hospitalLong" 			column="hospital_long"/>
        <result property="partnershipStatus" 		column="partnership_status"/>
        <result property="paymentId" 				column="payment_id"/>
        <result property="paymentDate" 				column="payment_date"/>
        <result property="transactionType" 			column="transaction_type"/>
        <result property="paymentStatus" 			column="payment_status"/>
    </resultMap>
    
    <resultMap id="MemberInquiryResultMap" type="com.example.domain.Inquiry">
    	<id property="inquiryId" 				column="inquiry_id"/>
    	<result property="inquiryType" 			column="inquiry_type"/>
    	<result property="inquiryTitle" 		column="inquiry_title"/>
    	<result property="inquiryWriterEmail" 	column="inquiry_writer_email"/>
    	<result property="inquiryComments" 		column="inquiry_comments"/>
    	<result property="inquiryRegdate" 		column="inquiry_regdate"/>
    	<result property="inquiryAnswer" 		column="inquiry_answer"/>
    	<result property="inquiryAnswerRegdate" column="inquiry_answer_regdate"/>
    	<result property="status" 				column="status"/>
    	<result property="memberId" 			column="member_id"/>
    	<result property="memberEmail" 			column="member_email"/>
        <result property="memberPwd" 			column="member_pwd"/>
        <result property="memberName" 			column="member_name"/>
        <result property="memberBirth" 			column="member_birth"/>
        <result property="memberSex" 			column="member_sex"/>
        <result property="memberTel" 			column="member_tel"/>
        <result property="memberAddrMain" 		column="member_addr_main"/>
        <result property="memberAddrDetail" 	column="member_addr_detail"/>
        <result property="memberJoinDate" 		column="member_join_date"/>
        <result property="memberLeaveDate" 		column="member_leave_date"/>
        <result property="memberCreditNum" 		column="member_credit_num"/>
        <result property="memberPoint" 			column="member_point"/>
        <result property="memberAuth" 			column="member_auth"/>
    </resultMap>
    
    <resultMap id="MemberReviewResultMap" type="com.example.domain.Review">
		<id property="reviewId" 				column="review_id"/>
		<result property="certificateNum"		column="certificate_num"/>
		<result property="memberId"				column="member_id"/>
		<result property="doctorId"				column="doctor_id"/>
		<result property="rating" 				column="rating"/>
		<result property="comments"				column="comments"/>
		<result property="status"				column="status"/>
		<result property="certificateDate" 		column="certificate_date"/>
		<result property="hospitalName" 		column="hospital_name"/>
		<result property="doctorName" 			column="doctor_name"/>
	</resultMap>
    
    
    <select id="findByMember" parameterType="String" resultMap="MemberResultMap">
		SELECT *
		  FROM members
		 WHERE member_email = #{memberEmail}
	</select>
	
	<select id="getMemberCurrentHistory" parameterType="int" resultMap="MemberHistoryResultMap">
		SELECT *
		  FROM members m 
	INNER JOIN (
			    SELECT 
			    		
			          c.certificate_num 	 AS certificate_num
			        , c.status				 AS status
			        , c.certificate_date 	 AS certificate_date
			        , c.reservation_num 	 AS reservation_num
			        , c.payment_status 		 AS certificate_payment_status 
			        , c.description 		 AS description
			        , c.file_key 			 AS certificate_file
			        , r.member_id 			 AS member_id
			        , r.doctor_id 			 AS doctor_id
			        , r.reservation_date 	 AS reservation_date
			        , r.reservation_status	 AS reservation_status
			        , d.doctor_email 		 AS doctor_email
			        , d.hospital_id 		 AS hospital_id
			        , d.doctor_name 		 AS doctor_name
			        , d.doctor_birth 		 AS doctor_birth
			        , d.doctor_sex 			 AS doctor_sex
			        , d.doctor_tel 			 AS doctor_tel
			        , d.doctor_subject 		 AS doctor_subject
			        , d.doctor_major 		 AS doctor_major	
			        , d.doctor_comments 	 AS doctor_comments
			        , d.file_key 			 AS doctor_file
			        , h.hospital_name 		 AS hospital_name
			        , h.hospital_addr_main	 AS hospital_addr_main
			        , h.hospital_addr_detail AS hospital_addr_detail	
			        , h.file_key 			 AS hospital_file 
			        , h.hospital_lati 		 AS hospital_lati
			        , h.hospital_long 		 AS hospital_long
			        , h.partnership_status 	 AS partnership_status
			        , p.payment_id 			 AS payment_id
			        , p.payment_date 		 AS payment_date
			        , p.transaction_type 	 AS transaction_type
			        , p.payment_status 		 AS payment_status
			    FROM certificate c
		  INNER JOIN reservation r 
		          ON c.reservation_num = r.reservation_num 
		  INNER JOIN doctor d 
		  		  ON r.doctor_id = d.doctor_id  
		  INNER JOIN hospital h 
		          ON d.hospital_id = h.hospital_id
		  INNER JOIN payments p 
		          ON c.certificate_num = p.certificate_num
			    ) AS j 
			  ON m.member_id = j.member_id
			 AND m.member_id = ${memberId}
	</select>
	
	<select id="getMembersCntByAge" resultMap="DashBoardResultMap">
		SELECT
            COUNT(member_birth) AS memberCnt,
            YEAR(CURDATE()) - SUBSTRING(member_birth, 1, 4) + 1 AS age,
            CASE
                WHEN YEAR(CURDATE()) - SUBSTRING(member_birth, 1, 4) + 1 BETWEEN 20 AND 29 THEN '20대'
                WHEN YEAR(CURDATE()) - SUBSTRING(member_birth, 1, 4) + 1 BETWEEN 30 AND 39 THEN '30대'
                WHEN YEAR(CURDATE()) - SUBSTRING(member_birth, 1, 4) + 1 BETWEEN 40 AND 49 THEN '40대'
                WHEN YEAR(CURDATE()) - SUBSTRING(member_birth, 1, 4) + 1 BETWEEN 50 AND 59 THEN '50대'
                WHEN YEAR(CURDATE()) - SUBSTRING(member_birth, 1, 4) + 1 >= 60 THEN '60대 이상'
            END AS ageGroup
        FROM members m
        GROUP BY ageGroup;
	</select>
	
	<select id="getMemberInquiryList" resultMap="MemberInquiryResultMap">
		SELECT * FROM inquiry i
		INNER JOIN members m 
		ON i.inquiry_writer_email = m.member_email
	</select>
	
	<select id="getMemberReview" resultMap="MemberReviewResultMap">
		SELECT r.review_id AS review_id
		,r.certificate_num AS certificate_num 
		,r.member_id AS member_id
		,r.doctor_id AS doctor_id
		,r.rating AS rating
		,r.comments AS comments
		,r.status AS status 
		,d.doctor_name AS doctor_name
		,h.hospital_name AS hospital_name
		, TO_CHAR(c.certificate_date, 'YYYY-mm-DD') AS certificate_date 
		FROM reviews r 
		INNER JOIN doctor d  ON d.doctor_id = r.doctor_id 
		INNER JOIN hospital h ON h.hospital_id = d.hospital_id 
		INNER JOIN certificate c ON c.certificate_num = r.certificate_num 
		WHERE member_id = ${memberId}
	</select>
</mapper>