<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ReservationDAO">
	<resultMap id="ReservationMap" type="com.example.domain.Reservation">
        <id property="reservationNum" 			column="reservation_num"/>
        <result property="memberId" 			column="member_id"/>
        <result property="memberName" 			column="member_name"/>
        <result property="doctorId" 			column="doctor_id"/>
        <result property="reservationDate" 		column="reservation_date"/>
        <result property="reservationStatus" 	column="reservation_status"/>
        <result property="reservationPayment" 	column="reservation_payment"/>
        <result property="fileKey" 				column="fileKey"/>
        <result property="patientComments" 		column="patient_comments"/>
        <result property="reservationStatus"	column="reservation_status"/>
        <result property="count"				column="count"/>
        
    </resultMap>
    
    <select id="getDoctorReservationWaitList" parameterType="int" resultMap="ReservationMap">
		SELECT r.reservation_num 						AS reservation_num
			 , r.member_id 								AS member_id
			 , (SELECT m.member_name 
			      FROM members m 
			     WHERE m.member_id = r.member_id
			   ) 										AS member_name
			 , r.doctor_id 								AS doctor_id
			 , TO_CHAR(r.reservation_date, 'hh24:mi') 	AS reservation_date
			 , r.reservation_status						AS reservation_status
			 , r.reservation_payment  					AS reservation_payment
			 , r.file_key  								AS file_key 
			 , r.patient_comments  						AS patient_comments
		  FROM reservation r
	 LEFT JOIN certificate c 
	 		ON r.reservation_num 		= c.reservation_num
		 WHERE r.doctor_id 				= #{doctorId}
  		   AND DATE(r.reservation_date) = CURDATE()
  		   AND c.reservation_num IS NULL
	  ORDER BY CASE WHEN r.reservation_status = 'R' 
	  				THEN 1 ELSE 2 
	  			END
	  		 , r.reservation_date DESC
	  		 , r.reservation_num ASC
	</select>
	
	<select id="getDoctorReservationConfirmList" parameterType="int" resultMap="ReservationMap">
		SELECT r.reservation_num 						AS reservation_num
			 , r.member_id 								AS member_id
			 , (SELECT m.member_name 
			      FROM members m 
			     WHERE m.member_id = r.member_id
			   ) 										AS member_name
			 , r.doctor_id 								AS doctor_id
 			 , TO_CHAR(r.reservation_date, 'hh24:mi') 	AS reservation_date
			 , r.reservation_status						AS reservation_status
			 , r.reservation_payment  					AS reservation_payment
			 , r.file_key  								AS file_key 
			 , r.patient_comments  						AS patient_comments
			 , c.certificate_status						AS certificate_status
		  FROM reservation r
	INNER JOIN certificate c
			ON r.reservation_num 		= c.reservation_num 
		 WHERE r.doctor_id				= #{doctorId}
		   AND status 					= 'UN'
		   AND certificate_status 		= 'N'
		   AND DATE(r.reservation_date) = CURDATE()
	  ORDER BY r.reservation_date ASC, r.reservation_num ASC
	</select>
	
	<select id="getDoctorReservationFinishList" parameterType="int" resultMap="ReservationMap">
		SELECT r.reservation_num						AS reservation_num 
			 , r.member_id 								AS member_id
			 , (SELECT m.member_name 
			      FROM members m 
			     WHERE m.member_id = r.member_id
			   ) 										AS member_name
			 , r.doctor_id 								AS doctor_id
 			 , TO_CHAR(r.reservation_date, 'hh24:mi') 	AS reservation_date
			 , r.reservation_status						AS reservation_status
			 , r.reservation_payment  					AS reservation_payment
			 , r.file_key  								AS file_key 
			 , r.patient_comments  						AS patient_comments
		  FROM reservation r
	INNER JOIN certificate c
			ON r.reservation_num 		= c.reservation_num 
		 WHERE r.doctor_id 		 		= #{doctorId}
		   AND status 			 		= 'UY'
		   AND certificate_status 		= 'Y'
		   AND DATE(r.reservation_date) = CURDATE()
	  ORDER BY r.reservation_date ASC, r.reservation_num ASC
	</select>
	
	<insert id="registReservation" parameterType="com.example.domain.Reservation">
		 INSERT INTO reservation (
            member_id,
            doctor_id,
            reservation_date,
            reservation_status,
            reservation_payment,
            file_key,
            patient_comments
        ) VALUES (
            #{memberId},
            #{doctorId},
            #{reservationDate},
            #{reservationStatus},
            #{reservationPayment},
            #{fileKey},
            #{patientComments}
        )
	</insert>
	
	<select id="getReservationCnt" resultType='int'>
		SELECT count(*) as count FROM reservation r 
		WHERE DATE(r.reservation_date) = CURDATE()
	</select>
	
	<update id="updateReservationStatus" parameterType="int">
		UPDATE reservation
		   SET reservation_num 		= ${reservationNum}
		 WHERE reservation_status	= 'S'
	</update>
</mapper>